{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="210" height="210" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h2 class="ui icon header title">
					{{ctx.Locale.Tr "startpage.app_name"}}
				</h2>
				<h3>{{ctx.Locale.Tr "startpage.app_desc"}}</h3>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h2 class="hero ui icon header">
				{{svg "octicon-flame"}} {{ctx.Locale.Tr "startpage.install"}}
			</h2>
			<p class="large">
				{{ctx.Locale.Tr "startpage.install_desc" "https://docs.gitea.com/installation/install-from-binary" "https://github.com/go-gitea/gitea/tree/master/docker" "https://docs.gitea.com/installation/install-from-package"}}
			</p>
		</div>
		<div class="eight wide center column">
			<h2 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} {{ctx.Locale.Tr "startpage.platform"}}
			</h2>
			<p class="large">
				{{ctx.Locale.Tr "startpage.platform_desc" "https://go.dev/"}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h2 class="hero ui icon header">
				{{svg "octicon-rocket"}} {{ctx.Locale.Tr "startpage.lightweight"}}
			</h2>
			<p class="large">
				{{ctx.Locale.Tr "startpage.lightweight_desc"}}
			</p>
		</div>
		<div class="eight wide center column">
			<h2 class="hero ui icon header">
				{{svg "octicon-code"}} {{ctx.Locale.Tr "startpage.license"}}
			</h2>
			<p class="large">
				{{ctx.Locale.Tr "startpage.license_desc" "https://gitmin.com/gitmin" "gitmin.com/gitmin" "https://github.com/go-gitea/gitea"}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
